<table>
  <thead>
    <tr>
      <th class="th-list" >予定一覧</th>
      <%# <th>時間<th> %>
      <%# <th colspan="3"></th> %>
    </tr>
  </thead>

  <tbody>
    <% @days.each do |day| %>
      <tr>
        <td><%= day.title %></td>
        <td><%= day.start_time.strftime("%Y-%m-%d %H:%M")%></td>
        <td><%= link_to "詳細", day%></td>
        <td><%= link_to "編集", edit_day_path(day.id)%></td>
        <td><%= link_to "削除",day_path(day.id),method: :delete, data: { confirm: '削除しますか' } %></td>
      </tr> 
    <% end %>
  </tbody>
</table>

<%= link_to "新規予定", new_day_path,class: "new-day" %>

<%= month_calendar events: @days do |date, days|%>
  <%= date.day %>

  <% days.each do |day| %>
    <div><%= link_to day.title, day %></div>
  <% end %>
<% end %>
