<%= form_with(model: @day, local: true) do |form| %>

  <div class="title-label">
    <%= form.label :タイトル %>
  </div>
  <div class= "title-text">
    <%= form.text_field :title %>
  </div>

    <div class="time-label">
    <%= form.label :日付・時間 %>
    </div>
  <div class="time">
    <%= form.datetime_select  :start_time,{use_month_numbers: true}, {class: "time--box"} %>
  </div>

  <div class="content-label">
    <%= form.label :内容 %>
  </div>
  <div class="content-text">
    <%= form.text_area :content, class:"content-text--area" %>
  </div>


  <div class="submit">
    <%= form.submit :Update, class:"submit--btn"%>
  </div>

<% end %>