<p>
  <strong>タイトル:<strong>
  <%= @day.title %>
</p>

<p>
  <strong>時間:<strong>
  <%= @day.start_time.strftime("%Y-%m-%d %H:%M") %>
</p>

<p>
  <strong>内容:</strong>
  <%= safe_join(@day.content.split("\n"),tag(:br))%>
</p>

<div class= "show">
  <%= link_to "Edit", edit_day_path(@day),class: "show--edit" %>
  <%= link_to "Back", days_path,class: "show--back" %>
</div>